<div class="error__container">

    <div class="error">
        <h2 class="error__title">{{error.title}}</h2>
        <p class="error__description">{{error.description}}</p>
    </div>
    {{>link}}
</div>