@import "src/styles/variables";

.button {
  width: 100%;
  max-width: 280px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid $transparent;
  color: $white;
  background-color: $primaryColor;
  cursor: pointer;
  transition: $commonTransitionDuration;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: $primaryColorHover;
}

.button_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active,
.button:focus {
  background-color: $primaryColorActive;
}
