<div>
    <form
            action=""
            method="POST"
            class="form"
    >
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                {{legendText}}
            </legend>

            {{#each fields}}
                {{>field}}
            {{/each}}
        </fieldset>

        {{#each buttons}}
            <div class="form__controls {{formButtonsClassName}}">{{>button}}</div>
        {{/each}}
    </form>
    {{#each links}}
        <div class="form__controls {{formLinksClassName}}">{{>link}}</div>
    {{/each}}
</div>