<div>
    <form
            action=""
            method="POST"
            class="form"
    >
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                {{legendText}}
            </legend>

            {{#if fields}}
                {{#each fields}}
                    {{>field}}
                {{/each}}
            {{/if}}

            {{#if profileFields}}
                <ul class="profile__list">
                    {{#each profileFields}}
                    <li class="profile__list-item">
                        {{>profileField}}
                    </li>
                    {{/each}}
                </ul>
            {{/if}}

        </fieldset>

        {{#each buttons}}
            <div class="form__controls">{{{ button }}}</div>
        {{/each}}
    </form>
    {{#each links}}
        <div class="form__controls">{{>link}}</div>
    {{/each}}
</div>