<div>
    <form
            action=""
            method="POST"
            class="form"
    >
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                {{legendText}}
            </legend>

            {{#each fields}}
                {{>field}}
            {{/each}}
        </fieldset>

        <div class="form__controls">{{>button}}</div>
    </form>
    <div class="form__controls"> {{>link}}</div>
</div>