<label class="profile-field">
    <div class="profile-field__label">{{label}}</div>
    <input
            name="{{name}}"
            value="{{value}}"
            type="{{type}}"
            class="profile-field__input"
    >
</label>