<label class="profile-field">
    <div class="profile-field__label">{{profileField.label}}</div>
    <input
            name="{{profileField.name}}"
            value="{{profileField.value}}"
            type="{{profileField.type}}"
            class="profile-field__input"
    >
</label>