@import "src/styles/variables";

.profile-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: $transparent;
  cursor: pointer;
}

.profile-field__input {
  width: 200px;
  height: 30px;
  border: none;
  font-size: $fontSizeM;
  color: $gray;
  text-align: right;
}

.profile-field__label {
  font-size: $fontSizeM;
}