$primaryColor: #3369f3;
$primaryColorHover: #538aea;
$primaryColorActive: #096dd9;
$gray: #999999;
$white: #fff;
$fontFamily: system-ui;
$commonTransitionDuration: 0.2s;
$transparent: transparent;
$fontSizeM: 15px;
