$primaryColor: #3369f3;
$primaryColorHover: #538aea;
$primaryColorActive: #096dd9;
$gray: #999999;
$sidebarBackground: #FBFBFB;
$sidebarBorder: #EAEAEA;
$white: #fff;
$red: #ff2f2f;
$fontFamily: Inter;
$commonTransitionDuration: 0.2s;
$transparent: transparent;
$fontSizeS: 10px;
$fontSizeM: 15px;
$fontSizeL: 20px;
$fontSizeXL: 40px;
