@import "src/styles/variables";
@import "src/styles/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $fontFamily;
}

.main {
  height: 100%;
}

.section {
  @include positionCenter
}

.error {
  margin-bottom: 69px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: $fontSizeXL;
}

.error__description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: $fontSizeL;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
}