@import "src/styles/variables";
@import "src/styles/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $fontFamily;
  padding: 0;
  margin: 0;
}

.main {
  height: 100%;
}

.section {
  @include positionCenter;
  display: flex;
}

.form__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 340px;
  padding: 50px 30px 30px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

a {
  text-decoration: none;
}