<main class="main">
    <section class="section">
        <aside class="profile profile__sidebar">
            {{> sidebarLink }}
        </aside>
        <div class="profile__form-container">
            {{> avatar }}
            {{userInfo.firstName}}

            {{> form formConfig}}
            <ul class="profile__list">
                {{#each profileLinks}}
                    <li class="profile__list-item profile__list-item_margin">{{>link}}</li>
                {{/each}}
             </ul>
        </div>
    </section>
</main>