<main class="main">
    <section class="section">
        <aside class="profile profile__sidebar">
            {{> sidebarLink }}
        </aside>
        <div class="profile__form-container">
            {{> avatar }}
            {{> form}}
        </div>
    </section>
</main>