<div class="avatar">
  {{#if avatar.src}}
      <img src="{{avatar.src}}" alt="avatar">
    {{else}}
      <div class="avatar__background"></div>
  {{/if}}
    <div class="avatar__overlay">
        <div>Поменять аватар</div>
    </div>
</div>